* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    box-sizing: border-box;
}

/*----------------Header todas las secciones------------------------*/
body {
    background-color: rgb(222, 202, 248);
    width: 100%;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}



header h2 {
    color: white;
    font-size: 80PX;
    font-family: "Anton";
    padding: 20px;
}
img {
    width: 200px;
    
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.menu li {
    font-size: 25px;
    font-family: "Anton";
    list-style: none;
    margin: 10px;
    
}

.menu a {
    color: rgb(87, 116, 84);
    text-decoration: none;
}

.menu a:hover {
    color: rgb(111, 211, 181);
}
main {
    padding: 5%;
}
.card {
    padding: 5px;
    background-color: rgb(168, 235, 227);
    border-radius: 3%;
}
.card-text {
    color: rgb(104, 103, 101);
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.card-body {
    background-color: rgb(251, 253, 216);
}

.botonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.estiloBoton {
    font-family: Arial, sans-serif
}
.Sformulario {
    background-color: rgb(174, 108, 201);

}
.informacion {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: center;
}
.rojo {
    background-color: red;
    color: black;
    text-align: center;
}